<app-calc
  [waterRatio]="(waterRatio$ | async)!"
  [useBlendRatio]="(useBlendRatio$ | async)!"
  [blendRatio]="(blendRatio$ | async)!"
  [brew]="(totalBrewDisplay$ | async)!"
  [brewUnit]="(totalBrewUnit$ | async)!"
  [grounds]="(grounds$ | async)!"
  [groundsInOunces]="(groundsInOunces$ | async)!"
  [groundsInML]="(groundsInML$ | async)!"
  [groundsInCups]="(groundsInCups$ | async)!"
  [stopwatchStatus]="(stopwatchStatus$ | async)!"
  [stopwatchDuration]="(stopwatchDuration$ | async)!"
  (updateWaterRatio)="updateWaterRatio($event)"
  (toggleUseBlendRatio)="toggleUseBlendRatio()"
  (updateBlendRatio)="updateBlendRatio($event)"
  (updateTotalBrew)="updateTotalBrew($event)"
  (updateTotalBrewUnit)="updateTotalBrewUnit($event)"
  (toggleStopwatchRun)="toggleStopwatchRun()"
  (resetStopwatch)="resetStopwatch()"
/>
