<app-calc [ratio]="(ratio$|async)!"
          [brew]="(totalBrew$|async)!"
          [grounds]="(grounds$|async)!"
          [groundsInOunces]="(groundsInOunces$|async)!"
          [groundsInML]="(groundsInML$|async)!"
          [groundsInCups]="(groundsInCups$|async)!"
          [stopwatchStatus]="(stopwatchStatus$|async)!"
          [stopwatchDuration]="(stopwatchDuration$|async)!"
          (updateRatio)="updateRatio($event)"
          (updateTotalBrew)="updateTotalBrew($event)"
          (toggleStopwatchRun)="toggleStopwatchRun()"
          (resetStopwatch)="resetStopwatch()">
</app-calc>
