:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  padding: 1rem;
  max-width: 22rem;
}

.cr-stopwatch-container {
  display: grid;
  align-items: center;
  grid-template:
    "duration duration"
    "run      reset"
    / 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;

  .mat-stroked-button {
    height: 3.2rem;
    padding: 0;

    .mat-icon {
      font-size: 1.5rem;
    }
  }
}

.cr-stopwatch-duration {
  grid-area: duration;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}

.cr-stopwatch-run {
  grid-area: run;
}

.cr-stopwatch-reset {
  grid-area: reset;
}

.cr-stopwatch-running {
  // mat red 600
  color: rgb(229 56 53);
}

.cr-stopwatch-paused {
  // mat green 600
  color: rgb(67 160 71);
}

.cr-form {
  display: grid;
  grid-template:
    "ratio-label  ratio-label"
    "ratio-input  ratio-input"
    "brew-label   brew-label"
    "brew-input   brew-input"
    / 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 0.25rem;
}

@media (min-width: 375px) {
  .cr-form {
    grid-template:
      "ratio-label  ratio-input"
      "brew-label   brew-input"
      / 1fr 1fr;

    .mat-card-subtitle,
    .mat-card-content {
      margin-bottom: 0;
    }
  }
}

.cr-ratio-label {
  grid-area: ratio-label;
}

.cr-ratio-input {
  grid-area: ratio-input;
}

.cr-brew-label {
  grid-area: brew-label;
}

.cr-brew-input {
  grid-area: brew-input;
}
