:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  max-width: 30rem;
  padding: 1rem;
  overflow: hidden;
}

:host ::ng-deep {
  .cr-brew-input {
    display: flex;
    align-items: baseline;
    font-size: 2rem;
    margin-bottom: -0.6rem;
  }

  .cr-brew-input input {
    font-size: 2rem;
  }
}

.cr-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: rgba(255 255 255 / 54%);
  font-size: 0.875rem;
}

.cr-card-value {
  font-size: 2rem;
  line-height: 2rem;
  text-align: right;
}

.mat-mdc-card .cr-card-value:not(:last-child) {
  margin-bottom: 0.5rem;
}

.cr-card-math {
  color: rgba(255 255 255 / 54%);
}

.cr-card-unit {
  margin-left: 0.4rem;
  color: rgb(214 144 96);
  font-weight: 500;
  font-size: 1.4rem;
}

.cr-stopwatch-container {
  display: grid;
  grid-template:
    "duration duration"
    "run      reset"
    / 1fr 1fr;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;

  .mat-mdc-unelevated-button {
    height: 3.2rem;
    padding: 0;
    border-radius: 0.8rem;

    .mat-icon {
      font-size: 1.5rem;
    }
  }
}

.cr-stopwatch-duration {
  grid-area: duration;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}

.cr-stopwatch-run {
  grid-area: run;
}

.cr-stopwatch-reset {
  grid-area: reset;
}

.cr-stopwatch-run.cr-stopwatch-running {
  // mat red 600
  color: rgb(229 56 53);
}

.cr-stopwatch-run.cr-stopwatch-paused {
  // mat green 600
  color: rgb(67 160 71);
}

.cr-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.cr-ratio-toggle-group {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
}

.cr-ratio-toggle-group .mat-mdc-icon-button.cr-selected {
  color: rgb(214 144 96);
  font-weight: 600;
  background: rgba(255 255 255 / 10%);
}

.cr-scroll-shadows {
  overflow-y: auto;
  background:
    // shadow covers
    linear-gradient(90deg, rgb(53 53 53), rgba(53 53 53 / 0%)),
    linear-gradient(270deg, rgb(53 53 53), rgba(53 53 53 / 0%) 70%),
    // shadow
    linear-gradient(90deg, rgba(30 30 30), rgb(53 53 53)),
    linear-gradient(270deg, rgba(30 30 30), rgb(53 53 53));
  background-color: rgba(255 255 255 / 10%);
  background-repeat: no-repeat;
  background-position:
    top left,
    top right,
    top left,
    top right;
  background-size:
    40px 100%,
    40px 100%,
    20px 100%,
    20px 100%;
  background-attachment: local, local, scroll, scroll;
}
