<form [formGroup]="form"
      class="cr-form">
  <h1 class="cr-header">Coffee Ratio</h1>

  <mat-card class="cr-ratio-card">
    <mat-card-subtitle>1. RATIO</mat-card-subtitle>
    <mat-card-content>
      <mat-form-field style="width: 100%;"
                      floatLabel="never"
                      appearance="outline">
        <input matInput
               inputmode="numeric"
               pattern="[0-9]*"
               type="number"
               min="0"
               step="1"
               formControlName="ratio"
               autocomplete="off">
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="cr-brew-card">
    <mat-card-subtitle>2. TOTAL BREW (ML)</mat-card-subtitle>
    <mat-card-content>
      <mat-form-field style="width: 100%;"
                      floatLabel="never"
                      appearance="outline">
        <input matInput
               inputmode="numeric"
               pattern="[0-9]*"
               type="number"
               min="0"
               step="10"
               formControlName="brew"
               autocomplete="off">
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="cr-grounds-card">
    <mat-card-subtitle>GROUNDS (G)</mat-card-subtitle>
    <mat-card-content>
      <mat-form-field style="width: 100%;"
                      floatLabel="never"
                      appearance="outline">
        <input matInput
               readonly
               autocomplete="off"
               [value]="grounds">
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="cr-grounds-approx-card">
    <mat-card-subtitle>
      <span>APPROX. GROUNDS</span>
      <mat-icon matTooltip="Based on one cup of ground or whole bean weighing roughly 82 grams"
                matTooltipShowDelay="0"
                matTooltipHideDelay="2000"
                matTooltipPosition="above">
        info
      </mat-icon>
    </mat-card-subtitle>
    <mat-card-content>
      <mat-form-field style="width: 100%;"
                      floatLabel="never"
                      appearance="outline">
        <input matInput
               readonly
               autocomplete="off"
               [value]="'~' + groundsInOunces + ' oz'">
      </mat-form-field>

      <mat-form-field style="width: 100%;"
                      floatLabel="never"
                      appearance="outline">
        <input matInput
               readonly
               autocomplete="off"
               [value]="'~' + groundsInML + ' mL'">
      </mat-form-field>

      <mat-form-field style="width: 100%;"
                      floatLabel="never"
                      appearance="outline">
        <input matInput
               readonly
               autocomplete="off"
               [value]="'~' + groundsInCups + ' cups'">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</form>
