:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  max-width: 22rem;
  padding: 1rem;
}

:host ::ng-deep {
  .cr-brew-input {
    display: flex;
    align-items: baseline;
    font-size: 2.5rem;

    .mat-form-field-outline-start {
      min-width: 0.8rem;
      border-radius: 0.8rem 0 0 0.8rem;
    }

    .mat-form-field-outline-end {
      border-radius: 0 0.8rem 0.8rem 0;
    }
  }

  .cr-brew-input input {
    font-size: 2.5rem;
  }
}

.cr-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  color: rgba(0 0 0 / 54%);
  font-size: 0.875rem;
}

.cr-card-value {
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: right;
}

.cr-card-unit {
  margin-left: 0.4rem;
  color: rgb(214 144 96);
  font-weight: 500;
  font-size: 1.4rem;
}

.cr-stopwatch-container {
  display: grid;
  grid-template:
    "duration duration"
    "run      reset"
    / 1fr 1fr;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;

  .mat-stroked-button {
    height: 3.2rem;
    padding: 0;
    border-radius: 0.8rem;

    .mat-icon {
      font-size: 1.5rem;
    }
  }
}

.cr-stopwatch-duration {
  grid-area: duration;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}

.cr-stopwatch-run {
  grid-area: run;
}

.cr-stopwatch-reset {
  grid-area: reset;
}

.cr-stopwatch-running {
  // mat red 600
  color: rgb(229 56 53);
}

.cr-stopwatch-paused {
  // mat green 600
  color: rgb(67 160 71);
}

.cr-ratio-toggle-group {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding-bottom: 0.8rem;
}

.cr-ratio-toggle-group .mat-icon-button {
  width: 3rem;
  height: 3rem;
}

.cr-ratio-toggle-group .mat-icon-button.cr-selected {
  color: rgb(214 144 96);
  font-weight: 700;
  background: rgb(243 220 205);
}
