/* stylelint-disable */

@use "@angular/material" as mat;

@include mat.core();

$primary: mat.define-palette(mat.$brown-palette, 500);
$accent: mat.define-palette(mat.$brown-palette, 400);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

@include mat.all-component-themes($theme);
