@use "@angular/material" as mat;
@include mat.core();

$primary: mat.define-palette(mat.$brown-palette, 500);
$accent: mat.define-palette(mat.$brown-palette, 400);
$typography: mat.define-typography-config(
  $font-family: "Roboto, 'Helvetica Neue', sans-serif",
);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: $typography,
  )
);

@include mat.button-theme($theme);
@include mat.card-theme($theme);
@include mat.core-theme($theme);
@include mat.divider-theme($theme);
@include mat.form-field-theme($theme);
@include mat.icon-button-theme($theme);
@include mat.icon-theme($theme);
@include mat.input-theme($theme);
@include mat.slide-toggle-theme($theme);
@include mat.tooltip-theme($theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: rgb(18 18 18);
  color: rgb(255 255 255);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "src/styles-mat-mdc.scss";
