mat-card.mat-card {
  background: rgb(30 30 30);
  border-radius: 0.8rem;
}

.mat-button,
.mat-stroked-button,
.mat-flat-button,
.mat-icon-button {
  display: flex;
  justify-content: center;

  .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

button.mat-icon-button,
a.mat-icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

mat-icon.mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.mat-form-field {
  width: 100%;
}

mat-form-field .mat-form-field-infix {
  width: 100% !important;
  border-top: 0.3rem solid transparent;
}

mat-form-field.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.25rem 0 0.45rem;
}

mat-form-field.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 0.55rem;
}

input.mat-input-element {
  text-align: right;
}

input.mat-input-element::-webkit-outer-spin-button,
input.mat-input-element::-webkit-inner-spin-button {
  display: none;
}
